h1 { 
    font-size: 100px;
    color: #cc6600;
    text-align: center;
    margin-top:20px;
    }

h2 {
    color: #cc6600
}

p {
    color: #C60;
}

}

body {
	line-height: 1;
	background: #1C1C1C;
	border-top: 3px solid #C60;
	width: 1000px;
	margin: 0 auto;
}

