body {
	line-height: 1;
	background: #1C1C1C;
	border-top: 3px solid #C60;
	width: 1000px;
	margin: 0 auto;
}


h1 { 
    font-size: 70px;
    color:#CC6600;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin-top:20px;
    }
    
    h2 { 
    text-align: center;
    font-size: 50px;
    color:#C60;
    font-family: 'Monoton', cursive;
    }
    
    p { 
        text-align:center;
        color:#C60;
        font-family: 'Changa', sans-serif;
        }
        



ol {
    border:1px solid #C60;
    border-width:1px 0;
    list-style:none;
	width: 900px;
    margin:0 auto;
    padding:0;
    text-align:center;
	font-family: 'Rubik Mono One', sans-serif;
}

